<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>New User Registration</title>
</head>
<body>
  <section>
      <p>
        Welcome, {{ user.full_name }}. Thanks for registering. Please click the link below to verify your email and activate your account.
      </p>
    <a href="http://localhost:3000/users/verify-email?{{token}}">Verify your email</a>
  </section>
</body>
</html>
