<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
</head>
<body>
  <section>
      <p>Website Analyzer App Registration Confirmatioon</p>
      <p>
        Welcome, {{ user.full_name }}. Thanks for registering.
      </p>
    <a href="http://localhost:3000/users/verify-email?token={{token}}">Verify your email</a>
  </section>
</body>
</html>
