<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Password Reset Request</title>
</head>
<body>
  <section>
      <p>Password Reset Request</p>
      <p>
        Hi, {{ user.full_name }}.
      </p>
      <p>
        This email was sent because you requested a password reset. Please follow the link below to reset your password.
      </p>
      <a href="http://localhost:3000/users/password-reset?{{token}}">Reset Your Password</a>
  </section>
</body>
</html>
