<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Password Change Request</title>
</head>
<body>
  <section>
      <p>Password Changed Confirmatioon</p>
      <p>
        Hi, {{ user.full_name }}.
      </p>
      <p>
        This message is to notify you that the password has been updated on your account. If this was you, no further action is needed.
      </p>
  </section>
</body>
</html>
